body {
    background-color: #a9bbaf;
    margin: unset;
}

.deleteImage {
    float: left;
    width: 5rem;
}

.editItem {
    margin-left: 0.5rem;
    margin-top: 1rem;
    width: 28rem;
    height: 3rem;
    font-size: 2rem;
}

.editItemHolder {
    margin-bottom: 1rem;
}

#mainInputField {
    width: 26.5rem;
    height: 3rem;
    font-size: 2rem;
    float:left;
    border: none;
    padding-left: 1rem;
}

h1 {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7rem;
    font-size: 4rem;
    background-color: #3c6148;
    color: white;
}

#logoImg {
    position: absolute;
    width: 6.5rem;
}

#mainElement {
    width: fit-content;
    height: fit-content;
    float: left;
}

#mainSubmit {
    width: 14rem;
    height: 3rem;
    font-size: 2rem;
    background-color: #57966c;
    border: none;
    border-radius: 1rem;
    position: absolute;
    margin-top: 5rem;
}

#mainSelect {
    width: 3.5rem;
    height: 3rem;
    border: none;
    float: left;
    font-size: 1.5rem;
    background-color: white;
}

#mainArrow {
    width: 3rem;
    cursor: pointer;
}

#dropdownOptions {
    background-color: white;
    border-top: 1px solid darkgray;
    width: 30rem;
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 3rem;
    border-bottom: 1px solid darkgray;
}

.listOption {
    font-size: 2rem;
    font-family: sans-serif;
    padding-left: 0.5rem;
    cursor: pointer;
}

.listOption:hover {
    background-color: #4da76a;
}

#listEditContent {
    display: block;
    margin-left: 2rem;
    margin-top: 1rem;
}

#mainContainer {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display:flex;
}

#newEntry {
    position: absolute;
    width: 30rem;
    height: 3rem;
    border: none;
    font-size: 2rem;
    padding-left: 1rem;
}

.InputHeader {
    font-size: 2rem;
}

#deleteListButton {
    width: 14rem;
    height: 3rem;
    border: none;
    background-color: #57966c;
    position: absolute;
    margin-left: 16rem;
    margin-top: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
}

#generateBotton {
    position: absolute;
    background-color: #57966c;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width: 30rem;
    margin-top: 9rem;
    font-size: 2rem;
}

.generatedItem {
    background-color: white;
    text-align: center;
    margin-top: 1.3rem;
    padding-top: 0.4rem;
    height: 2.6rem;
    width: 28rem;
    font-size: 2rem;
    font-family: sans-serif;
}