body {
    background-color: #a9bbaf;
    background-image: url("images/background.png");
    margin: unset;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.deleteImage {
    float: left;
    width: 4rem;
    margin-top: -0.4rem;
    cursor: pointer;
}

.editItem {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    width: 23rem;
    height: 2rem;
    font-size: 2rem;
    background-color: white;
    margin-left: 4rem;
    text-align: center;
    border-radius: 1rem;
}

.editItem:hover {
    background-color: #ab3636;
    color: white;    
}

#mainInputField {
    width: 26.5rem;
    height: 3rem;
    font-size: 2rem;
    float:left;
    border: none;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
}

h1 {
    display: block;
    padding-bottom: 0.5rem;
    padding-left: 7rem;
    font-size: 4rem;
    background-color: #3c6148;
    color: white;
}

#logoImg {
    position: absolute;
    width: 6.5rem;
}

#mainElement {
    width: fit-content;
    height: fit-content;
    float: left;
}

#mainSubmit {
    width: 14rem;
    height: 3rem;
    font-size: 2rem;
    background-color: #72bb6d;
    border: none;
    border-radius: 1rem;
    position: absolute;
    margin-top: 5rem;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#mainSubmit:hover {
    background-color: #9dd699;
}

#mainSelect {
    width: 3.5rem;
    height: 3rem;
    border: none;
    float: left;
    font-size: 1.5rem;
    background-color: white;
    border-top-right-radius: 1rem;
}

#mainArrow {
    width: 3rem;
    cursor: pointer;
}

#dropdownOptions {
    background-color: white;
    width: 30rem;
    position: absolute;
    z-index: 1;
    margin-top: 3rem;
    max-height: 0;
    overflow: auto;
    transition: 0.25s ease-out;
}
#dropdownOptions.shown {
    transition: 0.25s ease-in;
    max-height: 15rem;
    overflow: auto;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.listOption {
    font-size: 2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.listOption:hover {
    background-color: #4da76a;
}

#listEditContent {
    margin-top: 0.8rem;
    max-height: 0rem;
    max-width: 30rem;
    padding-right: 1rem;
    overflow: auto;
    transition: max-height 0.50s ease-out;
}

#listEditContent.listShown {
    transition: max-height 0.50s ease-in;
    max-height: 32rem;
    overflow: auto;
    width: 29rem;
    padding-bottom: 1rem;
}

#listEditContent::-webkit-scrollbar {
    width: 2rem;
    background-color: #b8d4c1;
    border-radius: 0.5rem;
}

#listEditContent::-webkit-scrollbar-button {
    display: none;
}

#listEditContent::-webkit-scrollbar-thumb {
    background-color: #44614e;
    border-radius: 0.5rem;
}

#mainContainer {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: rgba(88, 134, 103, 0.8);
    padding: 2rem;
    padding-bottom: 5rem;
    border-radius: 1rem;
    min-height: 20rem;
}

#newEntry {
    position: absolute;
    width: 30rem;
    height: 3rem;
    border: none;
    font-size: 2rem;
    padding-left: 1rem;
    border-radius: 1rem;
}

.InputHeader {
    font-size: 2rem;
    color: white;
    text-shadow: 0 1px black;
    padding-bottom: 0.5rem;
}

#deleteListButton {
    width: 14rem;
    height: 3rem;
    border: none;
    background-color: #72bb6d;
    position: absolute;
    margin-left: 16rem;
    margin-top: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#deleteListButton:hover {
    background-color: #9dd699;
}

#generateBotton {
    position: absolute;
    background-color: #72bb6d;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width: 30rem;
    margin-top: 9rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#generateBotton:hover {
    background-color: #9dd699;
}

.generatedItem {
    background-color: white;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 4rem;
    padding-bottom: 1rem;
    height: 2rem;
    width: 23rem;
    font-size: 2rem;
    border-radius: 1rem;
}

